<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre Mim</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <p class="text-center">
        Sou Mestre em Engenharia Informática e desenvolvi uma dissertação sobre uma aplicação e um sistema de
        recomendação para ajudar pessoas com ansiedade. No mundo da informática tenho um especial interesse por
        desenvolvimento em linguagens OOP (Object-oriented programming) e desenvolvimento em web.
      </p>
    </div>
  </div>
</section>