<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Qualificações e experiência</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3>Tecnologias com mais aptidão</h3>
				<ul>
					<li>
						Java
					</li>
					<li>
						C#
					</li>
					<li>
						Android
					</li>
					<li>
						Javascript
					</li>
					<li>
						SQL
					</li>
					<li>
						Firebase
					</li>
					<li>
						Azure
					</li>
					<li>
						Git
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3>Educação</h3>
				<ul>
					<li>
						2018-2020 - Mestrado em Engenharia Informática: Sistemas Gráficos e Multimédia.
						<p style="color:#6e7d8a;"><small>Insitituto Superior de Engenharia do Porto (ISEP)</small></p>
					</li>
					<li>
						2015-2018 - Licenciatura em Engenharia Informática
						<p style="color:#6e7d8a;"><small>Insitituto Superior de Engenharia do Porto (ISEP)</small></p>
					</li>
				</ul>
				<h3>Experiência</h3>
				<ul>
					<li>
						Dissertação do Mestrado: Desenvolvimento de uma aplicação e um sistema de recomendação para
						ajudar pessoas com ansiedade.
					</li>
					<li>
						Estagiário na equipa de conteúdos
						<p style="color:#6e7d8a;"><small>ALERT Life Sciences Computing, SA</small></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>